- var headObject = { title: "schema instances - About", description: "About page.", keywords: "my keywords"}
- var pathObject = { currentPage: "about" }
// myData, openGraphData are coming from gulpfile.js
//
doctype html
html(lang='en')
  include includes/mixins.pug
  //+headSection4_Cloud(myData, openGraphData)
  +headSection4_Cloud(headObject)

  body(id= pathObject.currentPage)
    // Navigation
    +navBar(pathObject)

    // Page Content
    .container
      // Page Heading/Breadcrumbs
      .row
        .col-lg-12
          h1.page-header
            |
            small About this site
          ol.breadcrumb
            li
              a(href='index.html') Home
            li
              a(href='#') About

      // /.row
      .row
        .col-lg-12
          div
            h1= name
            p= author
            p= context
      .row
        .col-lg-12
          div.well-small
            p
              | This is a static website building application that uses semantic data to build the content for humans and machines.
            p
              | The motivation for this design is to use a controlled vocabulary to structure the data for the content to make it web 3.0 capable. The semantic web enables good SERP rankings, rich snippets, and other cool stuff. This is my part of providing "Raw Data Now" that Tim Berners-Lee requested in his TED Talk.

    include includes/footer.pug
