- var headObject = { title: "schema instances - Home", description: "Home page.", keywords: "my keywords"}
- var pathObject = { currentPage: "home" }
doctype html
html(lang='en')
  include includes/mixins.pug
  +headSection4_Cloud(headObject)

  body
    // Navigation
    +navBar(pathObject)

    // Page Content
    .container
      // Page Heading/Breadcrumbs
      .row
        .col-lg-12
          h1.page-header
            |
            small This is a test of a data driven template site
          ol.breadcrumb
            li
              a(href='index.html') Home

      .jumbotron
        h3.display-3 Hello, world!
        p.lead
          | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
        hr.my-4
        p
          | Here is my github project.
        p.lead
          a.btn.btn-primary.btn-lg(href='https://github.com/chrispauley/schemaorg_instances', role='button') Learn more




      // /.row
      .row
        .col-lg-12
          div
            h1= name
            p= author
            p= context

    include includes/footer.pug
//- script
//-   include ../js/immediate-f.js
