// facebook_meta.pug
//
// Use images that are at least 1200 x 630 pixels for the best display
// Try to keep your images as close to 1.91:1 aspect ratio as possible to display the full image in News Feed without any cropping.
// https://developers.facebook.com/docs/sharing/best-practices
mixin openGraph(data)
  meta(property='og:title', content= data.title)
  meta(property='og:url', content= data.url)
  meta(property='og:type', content='website')
  meta(property="og:description", content= data.description )
  meta(property="og:image", content= data.pageImage)
