//
// twitter_cards.pug
// https://cards-dev.twitter.com/validator
mixin summaryCard(data)
  meta(property='twitter:card', content='summary')
  meta(property='twitter:site', content= data.twitterId)
  meta(property='twitter:title', content= data.title)
  meta(property="twitter:description", content= data.description )
  meta(property="twitter:image", content= data.pageImage)
  meta(property="twitter:image:alt", content= data.imageAltText)

// https://dev.twitter.com/cards/types/summary-large-image
// aspect ratio of 2:1 with minimum dimensions of 300x157
mixin largeSummaryCard(data)
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:site', content= data.twitterId)
  meta(name='twitter:creator', content= data.twitterCreatorId)
  meta(name='twitter:title', content= data.title)
  meta(name='twitter:description', content= data.description )
  meta(name='twitter:image', content= data.pageImage)
  meta(property="twitter:image:alt", content= data.imageAltText)


mixin videoPlayer(data)
  meta(name='twitter:card', content='player')
  meta(name='twitter:site', content='@rchoi')
  meta(name='twitter:title', content='Sample Player Card')
  meta(name='twitter:description', content='This is a sample streaming video. When you implement, make sure all links are secure.')
  meta(name='twitter:image', content='https://yoursite.com/example.png')
  meta(name='twitter:player', content='https://yoursite.com/container.html')
  meta(name='twitter:player:width', content='480')
  meta(name='twitter:player:height', content='480')
  meta(name='twitter:player:stream', content='http://devimages.apple.com/iphone/samples/bipbop/gear1/prog_index.m3u8')
  meta(name='twitter:player:stream:content_type', content='video/mp4; codecs="avc1.42E01E1, mp4a.40.2"')
